<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width = device-width,initial-scale = 1.0">
        <link rel="stylesheet" href="../static/style.css">
        <link href="https://fonts.googleapis.com/css?family=Abel" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet">
        {% if title %}
        <title>{{ title }} - ultimate shopper </title>
        {% else %}
        <title> Welcome to Ultimate shoppers </title>
        {%endif%}
        
        {% block title %} {% end block %}
    </head>

    <body>

    </body>

</html>