<!DOCTYPE html>
<html>
    <head>
        <title>ultimate shopper</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width = device-width,initial-scale = 1.0">
        <link rel="stylesheet" type="text/css" href="style.css">
        <link href="https://fonts.googleapis.com/css?family=Abel" rel="stylesheet">
        <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" -->
        <!-- crossorigin="anonymous"> -->
        <link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
        
        
    </head>
    <body>

        <h1>SHOPPING LIST ALL THE WAY .</h1>
    
        <p>log in below.</p><br><br>

        <form action="#" class="container"> 
            <!-- add a link where this form goes -->
             <input type ="text" name = "email address" placeholder = "email "> <br> <br>
             <input type="password" name = "pwd" placeholder = "password"><br> <br>
             <input type = "submit" value = "submit" >
             <h4>forgotten password?
                <a href="#"> click here</a>
             </h4>
             <h4>not yet registered?
                <a href="signup.html">join here :-*</a>
             </h4>


        </form>
        <br><br>
        
        <!-- deal with how to send the user an email if they forget their password -->

        




    </body>
</html>
