<!DOCTYPE html>
<html>
    <head>
        <title>ultimate shopper</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width = device-width,initial-scale = 1.0">
        <link rel="stylesheet" type="text/css" href="../static/style.css">
        <link href="https://fonts.googleapis.com/css?family=Abel" rel="stylesheet">
        <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" -->
        <!-- crossorigin="anonymous"> -->
        <link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
        
        
    </head>
    <body>
        <h3>SHOPPING LIST ALL THE WAY .</h3><br/>
        <p>log in below.</p><br/><br/>
        <div>
        <form action="#" class="container" method="POST" name="login"> 
            <!-- add a link where this form goes -->
            {{form.username.label}}<br/>
            {{form.username }}<br/><br/>
            {{form.password.label}}<br/>
            {{form.password}}<br/><br/>
            <button type = "submit" value = "submit" >click to log-in</button><br/>
            <!-- to display the flashed error that has occured -->
            {%for error in form.username.errors%}
            <span style="color:red"> {{ error }} </span>
            {%endfor%}
            <br/>
            <p><h4>forgotten password?<a href="#"> click here</a></h4></p>
            <p><h4>not yet registered?<a href="/signup">join here :-*></a></h4></p>

        </form>
        </div>
        <br><br>
    </body>
</html>
